.bubble {
    font-size: 10px;
}

.bubble:global(.bg-light) {
    border-bottom-left-radius: var(--bs-border-radius) !important;
    border-top-left-radius: var(--bs-border-radius) !important;
    border-top-right-radius: var(--bs-border-radius) !important;
}

.bubble:global(.bg-light) * {
    color: var(--bs-body-color);
}

.bubble:global(.bg-primary) {
    border-bottom-right-radius: var(--bs-border-radius) !important;
    border-top-left-radius: var(--bs-border-radius) !important;
    border-top-right-radius: var(--bs-border-radius) !important;
}

.bubble:global(.bg-primary) * {
    color: var(--bs-body-bg);
}

.bubble p,
.bubble pre,
.bubble ul {
    margin-bottom: 1em;
}

.bubble :global(.spinner-border) {
    height: 24px;
    width: 24px;
}
